/* style.css */
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }  

  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #1B512D, #4CAF50);
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-style: italic;
}

main {
    padding: 20px;
}

form {
    background: #DEF4C6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}

.assignment{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

label {
    display: inline-block;
    width: 250px;
}

input[type="number"] {
    width: 100px;
}

button {
    background-color: #4caf50; /* Solid color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px; /* Add space between buttons */
    margin-bottom: 10px; /* Add space between buttons */
    font-family: "Roboto", sans-serif;
}

button:hover {
    background-color: #45a049; /* Darker shade on hover */
}

.bar {
    height: 20px;
    background-color: #4caf50;
    text-align: center;
    color: rgb(0, 0, 0);
}

.gradeDisplay, .lowestMarkDisplay, .remainingWeightDisplay, .passMarkDisplay {
    margin-top: 10px;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

h2 {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

#formContent {
    display: block;
}

#addClassButton, #removeClassButton {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#addClassButton {
    background-color: #4CAF50;
    color: white;
}

#addClassButton:hover {
    background-color: #45a049;
}

#removeClassButton {
    background-color: #f44336;
    color: white;
}

#removeClassButton:hover {
    background-color: #e53935;
}

.bottom-text {
    text-align: center;
    margin-top: 75px;

}